.todo_card {
  width: 220px;
  height: fit-content;
  min-height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  border: 1px solid var(--gray);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.05);

  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;

  font-family: sans-serif;
  position: relative;
}

.todo_card-text {
  width: 100%;
  margin: 0.5rem 0;
  font-size: 0.85rem;
  font-weight: lighter;
  line-height: 1.7;
  overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .todo_card {
    width: 45vw;
  }
}

@media screen and (max-width: 450px) {
  .todo_card {
    width: 80vw;
  }
}

.todo_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.todo_buttons-edit {
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  margin: 0 0.2rem;
}

button > svg:hover {
  stroke: var(--blue);
}

.redButtonHover > svg:hover {
  stroke: var(--red);
}

.greenButtonHover > svg:hover {
  stroke: green;
}

.todo_card-edit {
  display: flex;
  align-items: center;
}

.todo_card-edit textarea {
  width: 100%;
  min-height: min-content;
  margin: 0.5rem 0;
  padding: 0.15rem;
  margin-right: 4px;

  font-size: 0.85rem;
  font-weight: lighter;

  line-height: 1.7;
  overflow-wrap: break-word;
  border: 1px solid var(--darkerGray);
}

.todo_card-edit textarea:focus-visible {
  outline: none;
}

.todo_card-dragging {
  filter: brightness(0.98);
}

.todo_card-dragHandle {
  position: absolute;
  left: -41px;
  top: 50px;
  transform: rotate(90deg);
  width: 90px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  cursor: move;
  font-size: 24px;
  font-family: sans-serif;
  letter-spacing: 3px;
  color: var(--darkerGray);
}

.redHover {
  color: red;
}
