:root {
  --light: #ffffff;
  --gray: #f4f6f8;
  --darkerGray: #b0b0b2;
  --dark: #393334;
  --red: #e73112;
  --lightBlue: #afbcd4;
  --blue: #1154a5;
  --darkerBlue: #022a71;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
}

.app_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray);
  font-size: 14px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--dark);
  z-index: 1;
  text-align: left;
  padding: 1.5rem 1rem;
}

header h1 {
  font-size: 2rem;
  font-size: 2rem;
  font-weight: bold;

  margin-left: 0.75rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
